.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.subtitle {
  font-size: 0.8rem;
}

.login-notice {
  font-size: 1rem;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}
